.row {
    display: flex;
    flex-wrap: wrap;
    
  }
.column {
   
    align-items: center;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
.column img {
    margin-top: 8px;
    vertical-align: 25%;
    width: 50%;
    height: 50%;   
  }